@import '~@angular/material/theming';

$mat-keyboard-min-width: 41.58vw !default;
$mat-keyboard-max-width: 82.27vw !default;

:host {
  @include mat-elevation(6);
  border-radius: 0.5vw;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: $mat-keyboard-max-width;
  // min-width: $mat-keyboard-min-width;
  // Initial transformation is applied to start keyboard out of view.
  transform: translateY(100%);
  width:auto !important;

  @include cdk-high-contrast {
    border: solid 1px;
  }
}
